# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/data/*

# dependencies
/node_modules
/.pnp
/static.pnp.js

# testing
/coverage

# production
/build

# misc
/static.DS_Store
/static.env.local
/static.env.development.local
/static.env.test.local
/static.env.production.local

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

venv/