.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.container{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#customScroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #fff;
  visibility: hidden;
} 
#customScroll::-webkit-scrollbar:focus{
  visibility: 1;
}
#customScroll::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}
#jsonEditor::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: none;
  visibility: hidden;
} 
#jsonEditor::-webkit-scrollbar:focus{
  visibility: 1;
}
#jsonEditor::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
}
.react-select__input,.react-select__single-value{
  font-size: 16px;
}
.react-select__input{
  height: 40px;
}
.selectTitle {
  transition: color 0.3s;
  cursor:pointer;
  vertical-align: 0;
  overflow: visible;
}
.selectTitle.active{
  font-weight: 500
}
.selectTitle:hover {
  color:#ff9800
}
#refreshBtn{
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
#refreshBtn:hover{
  background-color:rgba(0,0,0,0.1);
}
#editorModal, #dataModal{
  max-height: 100%!important;
  height: 100%!important;
}
#editorModal{
  top:0!important;
  line-height:1.5;
}
.input-field label {
  color: rgba(255,255,255,0.7);
}
/* label focus color */
.input-field input[type=search] {
  color: #fff;
}
.input-field input[type=search]:focus {
  color:#000
}
.select-wrapper input.select-dropdown {
  border-bottom: 1px solid rgba(255,255,255,0.7);
}
.input-field input[type=number]:focus + label {
  color: #fff!important
}
.input-field input[type=number] {
  border-bottom: 1px solid rgba(255,255,255,0.7);
}
.input-field input[type=number]:focus, .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff;
}
.select-wrapper input.select-dropdown {
  color:white;
}
.select-dropdown{
  overflow: hidden!important;
}
.dropdown-content li span{
  color:#5a5a5a!important
}
.select-wrapper .caret {
  fill:white!important
}
#fileModal [type="checkbox"]:checked+span:not(.lever):before {
  border-right: 3px solid red;
  border-bottom: 3px solid red;
}
@media only screen and (max-width: 1000px) {
  #checkBtn{
    margin:1.5rem 0
  }
  .currentTopic{
    height: 157px!important;
  }
}
@media only screen and (max-width: 800px) {
  #cardContent{
    padding-bottom:2rem!important
  }
  .card-content{
    padding: 0!important
  }
  .valign-wraper,.col.m8.s12{
    padding-top: 0!important
  }
}
@media only screen and (min-width: 600px) {
  .statusCol{
    width: 200px
  }
}
@media only screen and (max-width: 600px) {
  #editorModal{
    width: 100%
  }
  #cardContent{
    height: calc(100vh - 150px);
  }
  .container{
    width:100%!important
  }
  .card .card-action {
    padding:12px 6px;
  }
  .card {
    margin: 0!important
  }
}
